<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TuringMachine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <TuringMachine.Properties.Settings>
            <setting name="ProgramDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="DarkMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SyntaxHighlighting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TapeheadHighlighting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RepeatStep" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ClockSpeed" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TapeColour" serializeAs="String">
                <value>Orange</value>
            </setting>
            <setting name="OutlineColour" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="FileHistory1" serializeAs="String">
                <value />
            </setting>
            <setting name="FileHistory2" serializeAs="String">
                <value />
            </setting>
            <setting name="FileHistory3" serializeAs="String">
                <value />
            </setting>
            <setting name="FileHistory4" serializeAs="String">
                <value />
            </setting>
            <setting name="FileHistory5" serializeAs="String">
                <value />
            </setting>
            <setting name="FileHistory6" serializeAs="String">
                <value />
            </setting>
        </TuringMachine.Properties.Settings>
    </userSettings>
</configuration>